#wrapper{
	position: relative;
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

header {
	left: 00px;
	height:200px;
	width:1200px;
}

nav {
	position:absolute;
	top:200px;
	width:200px;
	height:800px;
	background-color:#3186bc;
}

article {
	position:absolute;
	top:200px;
	left:200px;
	width:1000px;
	min-height:1590px;
		background-image:url('egyptcardold.jpg'); background-repeat : no-repeat;

}

right {
	position:absolute;
	top:200px;
	right: 00px;
	width:200px;
	height:800px;
	background-color:#3186bc;
}

